@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  .main{
    margin-top: 5vw;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  }
  .h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal; 
    margin-top: 2vw;
  }
  .ppp{
    font-weight: bolder;
    
  }
  
  
   /* @media (min-width: 1200px){
    .king{
       border: 2px solid;
       width: 20rem;
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: 30px;
       margin-top: 10px;
  
   }
   }
   
   @media (max-width: 799px){
       .king{
           width: 40%;
           border: 1px solid;
           display: flex;
           flex-direction: row;
           margin-left: 30px;
           margin-top: 10px;
       }
       
   }  */
  
  
  .mainog{
    
    width: auto;
    height: auto;
    
  
  }
  
.king{
  margin-top: 10px;
}